@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// font
$primaryFont: 'Montserrat',
sans-serif;

// color
$headerFooterColor: #ffe8e7;
$titleColor: #52006A;
$primaryColor: #FB4C47;
$otherColor: #FF7600;