@import "../../assets/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');

.covid-info-content {
    .covid-article {
        width: 650px;
        line-height: 30px;

        .covid-article-header {
            margin: 20px 0px;
            font-size: 35px;
            font-weight: 700;
            color: $titleColor;
        }
    }

    .covid-article-secondary {
        // width: 650px;
        line-height: 30px;

        .covid-article-header-secondary {
            margin: 20px 0px;
            font-size: 30px;
            font-weight: 700;
            color: $titleColor;
        }
        .covid-article-content-secondary {
            font-size: 14px;
        }
    }

    .covid-article-third {
        width: 650px;
        line-height: 30px;
        margin: 0 auto;

        .covid-article-header-third {
            margin: 20px 0px;
            font-size: 35px;
            font-weight: 700;
            color: $titleColor;
        }
    }

    // styling home section
    .home-section {
        .home-section-left {
            padding: 0px;

            .home-section-left-first-line {
                font-size: 30px;
                color: $primaryColor;
                margin-bottom: 10px;
                font-weight: 700;
            }
            .home-section-left-main {
                font-size: 55px;
                color: $titleColor;
                letter-spacing: 1px;
                word-spacing: 5px;
                font-family: 'Archivo', sans-serif;
            }
            .home-section-left-last-line {
                font-size: 18px;
                margin: 16px 0px;
            }
        }

        .home-section-right {
            padding: 0px;

            .home-section-img {
                width: 100%;
            }
        }

        .still-home-section {
            .still-home-section-left {
                .still-home-img {
                    width: 100%;
                }
            }
        }
    }

    // styling penularan section
    .penularan-content {
        padding-top: 40px;

        .penularan-content-card {
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15),
            inset 0px 2px 2px rgba(0, 0, 0, 0.15);
            background-color: $cardColor;
            border-radius: 10px;
            margin: 0px 35px;

            .penularan-content-img {
                width: 80%;
                height: auto;
                margin: 0 auto;
            }
        }
    }

    // styling gejala section
    .gejala-section {
        .gejala-content {
            padding: 0px 50px;

            .gejala-content-img {
                width: 70%;
                height: auto;
            }
        }
    }

    // styling pencegahan section
    .pencegahan-section {
        .pencegahan-section-content {
            .pencegahan-section-item {
                .pencegahan-section-item-header {
                    .pencegahan-section-item-header-number {
                        width: 45px;
                        height: auto;
                    }
                    .pencegahan-section-item-header-title {
                        width: 100%;
                        padding-left: 35px;
                    }
                }
                .pencegahan-section-item-content {
                    padding-left: 82px;
                }
            }
            .pencegahan-section-img {
                .pencegahan-section-img-item {
                    width: 70%;
                    height: auto;
                }
            }
        }
    }
}