@import "../../assets/scss/variables";

// // // styling for list provinsi // // //
.list-provinsi {
    list-style-type: none;
    // display: flex;
    // justify-content: center;

    .list-provinsi-item {
        padding: 0px;
        margin: 10px 0px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 25%;
        justify-content: center;

        .list-provinsi-item-name {
            width: 95%;
            text-decoration: none;
            color: $titleColor;
            font-weight: 700;
            border: 2px solid $titleColor;
            padding: 10px;
            border-radius: 10px;

            &:hover {
                background-color: $titleColor;
                color: white;
            }
        }
    }
}

.choose-list {
    font-weight: 700;
    color: $titleColor;
    font-size: 35px;
}

// styling for responsive

@media (max-width: 575px) {
    .choose-list {
        font-size: 25px;
        padding: 0px 15px;
    }

    .list-provinsi {
        padding: 0px 20px;
        .list-provinsi-item {
            width: 50%;

            .list-provinsi-item-name {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


// styling for responsive under tablet
@media (min-width: 576px) and (max-width: 767px) {
        .choose-list {
            font-size: 25px;
            padding: 0px 15px;
        }

        .list-provinsi {
            padding: 0px 20px;

            .list-provinsi-item {
                width: 50%;

                .list-provinsi-item-name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
}


// styling for tablet
@media (min-width: 768px) and (max-width: 991px) {
    .choose-list {
        font-size: 25px;
        padding: 0px 15px;
    }

    .list-provinsi {
        padding: 0px 20px;

        .list-provinsi-item {
            width: 50%;

            .list-provinsi-item-name {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}