.data-provinsi {
    padding-bottom: 70px;

    .data-provinsi-header {
        margin-bottom: 30px;

        .data-provinsi-title {
            font-weight: 700;
        }

        .data-provinsi-tgl {
            font-weight: 700;
        }
    }
}